.espacios{
    width: 10vh;

}
.texto{
    text-align:justify;
    width: 50vh;
    border:0px
}
h1{
    font-family:Georgia, 'Times New Roman', Times, serif; 
    color: rgb(255, 73, 100); 
    text-align: center;
}
div{
    border: 5px solid rgb(255, 146, 162) ; 
}
body{
    background-color: rgb(255, 203, 211);
}
h4{
    color:rgb(177, 38, 59);
    text-align:center;
}
p{
    font-size: 20px;
}
li{
    font-size: 20px;
    color:rgb(255, 39, 147)
}
img{
    width: 10%;
    height: 10%;
    align-items: center;
}
table{
    border: rgb(255, 194, 210) 5px solid;
    background-color: rgb(255, 233, 233);
    color: rgb(0, 0, 0);
    
}
td{
    border: rgb(255, 194, 210) 5px solid;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
}